.addContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 5rem;
}

.addGrid2 {
    margin-left: 2rem;
}

.addGrid1 {
    box-sizing: border-box;
    padding: 0px !important;
}


.publish {
    display: none;
    box-sizing: border-box;
    width: 346px;
    height: 189px;
    border: 1px solid #D9D9D9;
}

.myPublish {
    box-sizing: border-box;
    width: 346px;
    height: 50px;
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.myPublish p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #424242;
    margin-top: 15px;
}

.myPublish img {
    transform: rotate(180deg);
    cursor: pointer;
}

.myPublish img:hover {
    filter: opacity(0.4) drop-shadow(0 0 0 #e1204d) brightness(1.2);
}

.draft {
    box-sizing: border-box;
    width: 346px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.draft p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border: 1px solid #D05270;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
    cursor: pointer;
}

.publish h5 {
    display: flex;
    align-items: baseline;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
    margin-left: 10px;
}

.publish h5 h6 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
}

.publish h5 span {
    color: #D05270;
    text-decoration: underline;
}

.draft p:hover {
    background-color: #e1204d;
    color: white;
}

.featuredImage {
    color: #D05270;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    text-decoration: underline;
}

.moveToTrash {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    border-top: #D9D9D9 1px solid;
    padding-top: 2.5px;
}

.moveToTrash h3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #F91717;
}

.moveToTrash h4 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    width: 75px;
    height: 40px;
    cursor: pointer;
    background: #D05270;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moveToTrash h4:hover {
    border: 1px solid #F91717;
    background-color: white;
    color: #F91717;
}

.selectCart {
    box-sizing: border-box;
    width: 346px;
    height: 208px;
    border: 1px solid #D9D9D9;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: none;
}

.selectTag {
    box-sizing: border-box;
    width: 346px;
    height: 152px;
    border: 1px solid #D9D9D9;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
    padding-left: 10px;
    padding-top: 10px;
    display: none;
}

.selectTag input {
    box-sizing: border-box;
    width: 314px;
    height: 36px;
    border: 1px solid #D9D9D9;
    margin-bottom: 1.5rem;
}

.selectTag span {
    box-sizing: border-box;
    width: 92px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    padding: 8px 8px;
}

.featured {
    box-sizing: border-box;
    width: 346px;
    height: 55px;
    padding-top: 15px;
    padding-left: 5px;
    border: 1px solid #D9D9D9;
    display: none;
}

.addHeading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25.7698px;
    line-height: 31px;
    color: #424242;
}

.gridInput {
    background: #F9FAFA;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    width: 703px;
    height: 55px;
    padding-left: 20px;
    outline: none;
}

.gridInput::placeholder {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #A9ABAD;
}

.permalink {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
    display: flex;
    align-items: baseline;
    margin-top: 1rem;
}

.permalink h6 {
    color: #D05270;
}

.permalink span {
    padding: 5px 10px;
    width: 49px;
    height: 30px;
    border: 1px solid #D9D9D9;
    margin-left: 20px;
}

.addTools {
    width: 703px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.addInput {
    width: 703px;
    height: 422px;
    background: #F9FAFA;
    border: 1px solid #D9D9D9;
    outline: none;
}

.addTools img {
    cursor: pointer;
}

.wordCount {
    width: 703px;
    height: 27px;
    background: #9F9F9F;
    margin-top: -10px;
    color: white;
    padding-left: 10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-top: 5px;
}

.addMedia {
    cursor: pointer;
    width: 117px;
    height: 26px;
    background: #F9FAFA;
    border: 0.6px solid #D9D9D9;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
    padding-left: 5px;
    margin-top: 15px;
}

.paragraph {
    cursor: pointer;
    width: 117px;
    height: 26px;
    border: 0.6px solid #D9D9D9;
    outline: none;
}

.hide {
    display: block;
}