.addHeading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25.7698px;
    line-height: 31px;
    color: #424242;
}

.gridInput {
    background: #F9FAFA;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 16px 368px 16px 24px;
    width: 703px;
    margin-top: 1rem;
    outline: none;
}

.gridInput::placeholder {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #A9ABAD;
}

.permalink {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
    display: flex;
    align-items: baseline;
    margin-top: 1rem;
}

.permalink h6 {
    color: #D05270;
}

.permalink span {
    padding: 5px 10px;
    width: 49px;
    height: 30px;
    border: 1px solid #D9D9D9;
    margin-left: 20px;
}

.addTools {
    width: 703px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.addInput {
    width: 703px;
    height: 422px;
    background: #F9FAFA;
    border: 1px solid #D9D9D9;
    outline: none;
}

.addTools img {
    cursor: pointer;
}

.wordCount {
    width: 703px;
    height: 27px;
    background: #9F9F9F;
    margin-top: -10px;
}

.addMedia {
    cursor: pointer;
    width: 117px;
    height: 26px;
    background: #F9FAFA;
    border: 0.6px solid #D9D9D9;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
    padding-left: 5px;
    margin-top: 15px;
}

.paragraph {
    cursor: pointer;
    width: 117px;
    height: 26px;
    border: 0.6px solid #D9D9D9;
    outline: none;
}