table {
    width: 100%;
}

table th {
    border-bottom: 1px solid rgb(184, 182, 182);
    padding-bottom: 1rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15.0324px;
    line-height: 18px;
}

table td {
    border-bottom: 1px solid rgb(241, 240, 240);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12.0324px;
}

table td h6 {
    background: #A1A1A1;
    padding: 4.07849px 9.23547px;
    gap: 27px;
    width: 93px;
    text-align: left;
    height: 22.16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14.7747px;
    line-height: 13px;
    color: #FFFFFF;
}

.theView {
    margin-top: 2rem;
}

.theView span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10.7747px;
    line-height: 13px;
    color: #4B4B4B;
}

.action {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15.0324px;
    line-height: 18px;
    color: #D05270;
}

#myInput::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12.0324px;
}