.conversation {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6D7D8B;
}

.commentInput {
    width: 327px;
    height: 27px;
    background: #FFFFFF;
    border: 0.598352px solid #BBC8D4;
    outline: none;
    border-radius: 1.1967px;
    margin-bottom: 1rem;
}

.commentInput::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 175.7%;
    color: #BBC8D4;
}

.commentText {
    width: 327px;
    height: 67px;
    outline: none;
    background: #FFFFFF;
    border: 0.598352px solid #BBC8D4;
    border-radius: 1.1967px;
}

.commentText::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 175.7%;
    color: #BBC8D4;
}

.commentButton {
    width: 211px;
    height: 47.71px;
    border: none;
    background: #D05270;
    box-shadow: 0px 0.540685px 0.540685px rgba(0, 0, 0, 0.1);
    border-radius: 2.16274px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 11.3544px 0px;
    gap: 4.33px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 175.7%;
    color: #FFFFFF;
}

.commentInputLarge {
    width: 1093px;
    height: 38px;
    background: #FFFFFF;
    outline: none;
    border: 0.598352px solid #BBC8D4;
    border-radius: 1.1967px;
    margin-bottom: 1rem;
}

.commentInputLarge::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #BBC8D4;
}

.commentTextLarge {
    width: 1093px;
    outline: none;
    height: 223px;
    background: #FFFFFF;
    border: 0.598352px solid #BBC8D4;
    border-radius: 1.1967px;
    margin-bottom: 1rem;
}

.commentTextLarge::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 175.7%;
    color: #BBC8D4;
}

.conversationLarge {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #6D7D8B;
}