.trend {
    width: auto;
    height: auto;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;

    color: #D05270;
}

.trend1 {
    width: auto;
    height: auto;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #D05270;
}

.dude {
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 115px;
    right: 50px;
    z-index: 2;
}

.dudeSect {
    position: absolute;
    top: 210px;
    right: 50px;
    z-index: 1;
    width: 16rem;
    height: 10rem;
    border-radius: 10%;
    background-color: #D05270;
}

.topic {
    width: auto;
    height: auto;

    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;

    color: #424242;
}

.topic1 {
    width: auto;
    height: auto;

    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #424242;
}

.trendText {
    width: 631px;
    height: 110px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #424242;
}

.trendText1 {
    width: 327px;
    height: 84px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #424242;
}

.more {
    width: fit-content;
    height: auto;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #D05270;
    border-bottom: 0.1rem #D05270 solid;
}

.more1 {
    width: fit-content;
    height: auto;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #D05270;
    border-bottom: 0.1rem #D05270 solid;
}

.social {
    width: auto;
    height: auto;
}

.social1 {
    width: auto;
    height: 60px;
}

.socialButton1 {
    margin-right: 2rem;
    padding: 0.5rem 2rem 0.8rem 2rem;
    color: white;
    background-color: rgb(81, 174, 205);
    border: none;
}

.socialButton2 {
    margin-right: 2rem;
    padding: 0.4rem 2rem 0.4rem 2rem;
    color: white;
    background-color: #1275B1;
    border: none;
}

.socialButton3 {
    padding: 0.4rem 2rem 0.6rem 2rem;
    color: white;
    background-color: black;
}

.socialButton11 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;

    margin-right: 0.5rem;
    padding: 0.3rem 1rem 0.4rem 1rem;
    color: white;
    background-color: rgb(81, 174, 205);
    border: none;
}

.socialButton22 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;

    margin-right: 0.5rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    color: white;
    background-color: #1275B1;
    border: none;
}

.socialButton33 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;

    padding: 0.2rem 1rem 0.3rem 1rem;
    color: white;
    background-color: black;
}

.blogPost {
    width: auto;
    height: auto;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #D05270;
}

.blogPost1 {
    width: auto;
    height: auto;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;

    color: #D05270;
}

.filter {
    width: auto;
    height: auto;
    display: flex;
    margin-left: -2rem;
    list-style-type: none;
}

.filter1 {
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    list-style-type: none;
    margin-left: -2rem;
    scrollbar-width: none;
}

.filter1::-webkit-scrollbar {
    display: none;
}

.list {
    padding-right: 1rem;
    padding-left: 1rem;
    cursor: pointer;
    font-weight: 500;
}

.post {
    width: auto;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post1 {
    width: auto;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img {
    width: fit-content;
    height: fit-content;
}

.img1 {
    width: 36rem;
    height: 20rem;
}

.link {
    border-bottom: 0.1rem #D05270 solid;
    width: fit-content;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 0px 0px 0px 12.0306px;
    gap: 31.58px;
    width: 100%;
    margin-top: 3rem;
}

.pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12.7633px 14.8905px;
    gap: 10.64px;

    border: 1.06361px solid #424242;
    border-radius: 4.25444px;
    box-sizing: border-box;
    width: 52.12px;
    height: 52.12px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 21.4683px;
    line-height: 123.6%;
    cursor: pointer;
}

.pages1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12.7633px 14.8905px;
    gap: 10.64px;

    border: 1.06361px solid #D05270;
    border-radius: 4.25444px;
    box-sizing: border-box;
    width: 52.12px;
    height: 52.12px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 21.4683px;
    line-height: 123.6%;
    cursor: pointer;
}

.footHead {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #D05270;
}

.footLink {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    text-align: justify;

    color: #424242;
}

.footLink:hover {
    color: #D05270;
}

.mainFoot {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.mainFoot1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.foot {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5rem;
}

.brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12.7633px 14.8905px;
    gap: 10.64px;
    margin-right: 0.5rem;

    border: 1.06361px solid #D05270;
    border-radius: 4.25444px;
    box-sizing: border-box;
    width: 52.12px;
    height: 52.12px;
    cursor: pointer;
}

.brand:hover {
    background-color: #D05270;
}

.brand1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.7633px 7.8905px;
    margin-right: 0.5rem;

    border: 1.06361px solid #D05270;
    border-radius: 4.25444px;
    box-sizing: border-box;
    width: 40.43px;
    height: 34.97px;
    cursor: pointer;
}

.brand1:hover {
    background-color: #D05270;
}

.brandDiv {
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    height: 147px;
}

.brandDiv1 {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}

.follow {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #D05270;
}

.flexDiv {
    display: flex;
    flex-direction: column;
}

.copy {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
    text-align: center;
    margin-top: 2rem;
}