.sideBar {
    width: 224px;
    min-height: 100%;
    background: linear-gradient(321.69deg, #D05270 0%, #D05270 100%);
}

.brandName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding-top: 2rem;
    color: #FFFFFF;
}

.myList {
    text-align: center;
    padding-top: 0.6rem;
}

.notActive {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-top: 0.5rem;
    padding-left: 3.8rem;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
}

.myActive {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    padding-left: 3.8rem;
    line-height: 22px;
    color: #D05270;
    background-color: #FFFFFF;
    height: 53px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding-top: 0.3rem;
}

.addPost {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border: none;
    padding: 15px 35px 0 35px;
    background: #D9758D;
}

.newPost {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}